@import "../../../styles/variables/variables.scss";

.pagination {

  .prev.active,
  .next.active {
    &:hover {
      color: $primary-theme-hover-color;
      border-color: $primary-theme-hover-color;
    }

  }
}
