@import '../../../styles/variables/variables.scss';
.profile_sell_listings {
  @media screen and (max-width: 576px) {
    overflow: unset;
  }
  .more_settings {
    position: relative;
    .popup_setting {
      top: 40px;
      right: -20px;
      display: none;
      &::before {
        content: ' ';
        position: absolute;
        height: 0;
        width: 0;
        top: -22px;
        right: 20px;
        border: 11px solid transparent;
        border-bottom-color: $grey;
        margin-left: -11px;
        z-index: 1;
      }
      .border_tooltip {
        position: absolute;
        height: 0;
        width: 0;
        top: -21px;
        right: 20px;
        border: 11px solid transparent;
        border-bottom-color: #fff;
        margin-left: -11px;
        z-index: 1;
      }
    }
    &:hover {
      .popup_setting {
        display: block;
      }
    }
  }
}
