@import '../../../../styles/variables/variables.scss';
.input_radio_base {
  .focus {
    border-width: 2px;
    padding-left: 23px;
    padding-right: 23px;
  }
  .warning {
    border-color: $red !important;
    border-width: 2px;
    padding-left: 23px;
    padding-right: 23px;
  }
  .drop_down {
    top: 75px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    width: calc(100% + 1px);
    &_wrapper {
      max-height: 180px;
      /* width */
      &::-webkit-scrollbar {
        width: 4px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #e2e2e2;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #cccccc;
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
      top: 55px;
    }
    .option_item {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
