@import "../../../../styles/variables/variables.scss";

.input_text_base {
  &.focus {
    border-width: 2px;
    padding-left: 23px;
    padding-right: 23px;
    .cancel_button {
      display: flex;
    }
    .custom_icon {
      display: none;
    }
  }
  &.warning {
    border-color: $red !important;
    border-width: 2px;
    padding-left: 23px;
    padding-right: 23px;
  }
}
