// theme
$primary-theme-color: #174691;
$primary-theme-hover-color: #0e2955;
$highlight-theme-color: #cc212c;

// background
$primary-background-color: #ffffff;
$background_gray_smoke: #e9e9e9;
$background_light_smoke: #f7f7f7;
// text color
$primary-text-color: #272727;
$primary-heading-text-color: #121212;
$secondary-heading-text-color: #323232;
$primary-hover-text-color: #a6a6a6;

$red: #d93c23;
$yellow: #f2c009;
$gray: #bfbfbf;
$orange: #ebaa60;
$white-smoke: #f6f7f9;
$ligth-gray: #f5f5f5;
$black: #373737;
$blue: #00adbb;
$green: #007882;
$grey: #cccccc;
//border color:
$primary-border-color: #adadad;
$secondary-border-color: #174691;
$third-border-color: #e5e5e5;
$fourth-border-color: rgb(221, 221, 221);

$primary-font-size: 16px;
