@import '../../../../styles/variables/variables.scss';
.base_input_range {
  input {
    -webkit-appearance: none;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(var(--ratio) * 100%);
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &::-webkit-slider-runnable-track {
      box-sizing: border-box;
      border: none;
      height: 6px;
      background: $grey;
    }
    &::-webkit-slider-runnable-track {
      background: linear-gradient($red, $red) 0 / var(--sx) 100% no-repeat $grey;
      border-radius: 3px;
    }
    &::-moz-range-track {
      box-sizing: border-box;
      border: none;
      height: 6px;
      background: $grey;
    }
    &::-ms-track {
      box-sizing: border-box;
      border: none;
      height: 6px;
      background: $grey;
    }
    &::-moz-range-progress {
      height: 6px;
      background: $red;
    }
    &::-ms-fill-lower {
      height: 6px;
      background: $red;
    }
    &::-webkit-slider-thumb {
      margin-top: -7.5px;
      box-sizing: border-box;
      border: none;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $red;
    }
    &::-moz-range-thumb {
      box-sizing: border-box;
      border: none;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: $red;
    }
    &::-ms-thumb {
      margin-top: 0;
      box-sizing: border-box;
      border: none;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: $red;
    }
  }
}
