@import '../variables/variables.scss';

.bg_primary {
  background-color: $primary-theme-color;
}

.bg_primary_hover {
  background-color: $primary-theme-hover-color;
}

.bg_primary_hover-hover:hover {
  background-color: $primary-theme-hover-color;
}

.bg_light_gray {
  background-color: $ligth-gray;
}

.bg_yellow {
  background-color: $yellow;
}

.bg_red {
  background-color: $red;
}

.bg_gray {
  background-color: $gray;
}

.bg_grey {
  background-color: $grey;
}

.bg_orange {
  background-color: $orange;
}

.bg_highlight {
  background-color: $highlight-theme-color;
}

.bg_white {
  background-color: $primary-background-color;
}

.bg_black {
  background-color: $black;
}

.bg_green {
  background-color: $green;
}

.bg_blue {
  background-color: $blue;
}

.bg_whitesmoke {
  background-color: $white-smoke;
}

.bg_gray_smoke {
  background-color: $background_gray_smoke;
}

.bg_light_smoke {
  background-color: $background_light_smoke;
}

.bg_black-hover:hover {
  background-color: $black;
}

.bg_grey_3-hover:hover {
  background-color: #F5F5F5;
}

.bg_whitesmoke-hover:hover {
  background-color: $white-smoke;
}
