@import '../variables/variables.scss';

.primary_theme_color {
  color: $primary-theme-color;
}

.primary_theme_hover_color {
  color: $primary-theme-hover-color;
}

.primary_theme_color-hover:hover {
  color: $primary-theme-color;
}

.primary_theme_hover_color-hover:hover {
  color: $primary-theme-hover-color;
}

.highlight_theme_color-hover:hover {
  color: $highlight-theme-color;
}

.highlight_theme_color {
  color: $highlight-theme-color;
}

.primary_text_color {
  color: $primary-text-color;
}

.secondary_heading_text_color {
  color: $secondary-heading-text-color;
}

.primary_text_hover_color {
  color: $primary-hover-text-color;
}

.primary_text_hover_color-hover:hover {
  color: $primary-hover-text-color;
}

.color_red {
  color: $red;
}

.color_black {
  color: $black;
}

.color_grey {
  color: $grey;
}

.color_white {
  color: #ffffff;
}

.color_blue {
  color: $blue;
}

.color_orange {
  color: $orange;
}

.color_green {
  color: $green;
}

.color_red-hover:hover {
  color: $red;
}

.color_white-hover:hover {
  color: #ffffff;
}

.fill_red {
  fill: $red;
}

.fill_black {
  fill: $black;
}

.fill_white {
  fill: #ffffff;
}

.fill_blue {
  fill: $blue;
}

.fill_orange {
  fill: $orange;
}

.fill_green {
  fill: $green;
}

.fill_red-hover:hover {
  fill: $red;
}

.fill_white-hover:hover {
  fill: #ffffff;
}
