$height-list: 0 1 4 6 10 15 16 18 19 20 22 23 24 25 27 28 30 31 32 33 35 36 38 39 40 41 45 46 48 50 52 56 60 62 64 70 75
  76 78 80 88 90 96 100 101 105 108 110 115 116 120 121 124 130 140 142 144 160 164 172 180 183 184 185 186 191 200 203
  210 216 220 221 225 230 250 257 270 275 277 280 300 338 345 350 360 388 390 391 395 400 432 450 455 495 500 526 570 574
  610 800 950;

$height-percent-list: 10 20 30 35 40 50 60 70 80 90 100;

@each $value in $height-list {
  .height_#{$value} {
    height: #{$value}px;
  }
}

@each $value in $height-percent-list {
  .height_#{$value}_vh {
    height: #{$value}vh;
  }
  .height_#{$value}_percent {
    height: #{$value * 1%};
  }
}

.height_auto {
  height: auto;
}

@media (max-width: 1024px) {
  @each $value in $height-list {
    .height_md_#{$value} {
      height: #{$value}px;
    }
  }

  @each $value in $height-percent-list {
    .height_md_#{$value}_percent {
      height: #{$value * 1%};
    }
  }

  @each $value in $height-percent-list {
    .height_md_#{$value}_vh {
      height: #{$value}vh;
    }
  }

  .height_md_auto {
    height: auto;
  }
}

@media (max-width: 768px) {
  @each $value in $height-list {
    .height_sm_#{$value} {
      height: #{$value}px;
    }
  }

  @each $value in $height-percent-list {
    .height_sm_#{$value}_percent {
      height: #{$value * 1%};
    }
  }

  @each $value in $height-percent-list {
    .height_sm_#{$value}_vh {
      height: #{$value}vh;
    }
  }

  .height_sm_auto {
    height: auto;
  }
}

@media (max-width: 576px) {
  @each $value in $height-list {
    .height_xs_#{$value} {
      height: #{$value}px;
    }
  }

  @each $value in $height-percent-list {
    .height_xs_#{$value}_percent {
      height: #{$value * 1%};
    }
  }

  @each $value in $height-percent-list {
    .height_xs_#{$value}_vh {
      height: #{$value}vh;
    }
  }

  .height_xs_auto {
    height: auto;
  }
}
