$line-height-list: 10 15 16 17 19 20 21 22 27 28 30 31 36 38 39 40 42 43 50 57 100;

$line-height-percent-list: 10 20 30 40 50 60 70 80 90 100;

@each $value in $line-height-list {
  .line_height_#{$value} {
    line-height: #{$value}px;
  }
}

@each $value in $line-height-percent-list {
  .line_height_#{$value}_percent {
    line-height: #{$value * 1%};
  }
}

@media (max-width: 1024px) {
  @each $value in $line-height-list {
    .line_height_md_#{$value} {
      line-height: #{$value}px;
    }
  }

  @each $value in $line-height-percent-list {
    .line_height_md_#{$value}_percent {
      line-height: #{$value * 1%};
    }
  }
}

@media (max-width: 768px) {
  @each $value in $line-height-list {
    .line_height_sm_#{$value} {
      line-height: #{$value}px;
    }
  }

  @each $value in $line-height-percent-list {
    .line_height_sm_#{$value}_percent {
      line-height: #{$value * 1%};
    }
  }
}

@media (max-width: 576px) {
  @each $value in $line-height-list {
    .line_height_xs_#{$value} {
      line-height: #{$value}px;
    }
  }

  @each $value in $line-height-percent-list {
    .line_height_xs_#{$value}_percent {
      line-height: #{$value * 1%};
    }
  }
}
