$max-width-list: 10 20 30 40 50 80 100 120 130 140 150 154 160 170 180 190 200 210 230 280 320 400 450 500 650 800 900 960;

$max-width-percent-list: 10 20 30 40 50 60 70 80 90 100;

@each $value in $max-width-list {
  .max_width_#{$value} {
    max-width: #{$value}px;
  }

  .min_width_#{$value} {
    min-width: #{$value}px;
  }
}

@each $value in $max-width-percent-list {
  .max_width_#{$value}_percent {
    max-width: #{$value * 1%};
  }

  .min_width_#{$value}_percent {
    min-width: #{$value * 1%};
  }
}

@media (max-width: 1024px) {
  @each $value in $max-width-list {
    .max_width_md_#{$value} {
      max-width: #{$value}px;
    }

    .min_width_md_#{$value} {
      min-width: #{$value}px;
    }
  }

  @each $value in $max-width-percent-list {
    .max_width_md_#{$value}_percent {
      max-width: #{$value * 1%};
    }

    .min_width_md_#{$value}_percent {
      min-width: #{$value * 1%};
    }
  }
}

@media (max-width: 768px) {
  @each $value in $max-width-list {
    .max_width_sm_#{$value} {
      max-width: #{$value}px;
    }

    .min_width_sm_#{$value} {
      min-width: #{$value}px;
    }
  }

  @each $value in $max-width-percent-list {
    .max_width_sm_#{$value}_percent {
      max-width: #{$value * 1%};
    }

    .min_width_sm_#{$value}_percent {
      min-width: #{$value * 1%};
    }
  }
}

@media (max-width: 576px) {
  @each $value in $max-width-list {
    .max_width_xs_#{$value} {
      max-width: #{$value}px;
    }

    .min_width_xs_#{$value} {
      min-width: #{$value}px;
    }
  }

  @each $value in $max-width-percent-list {
    .max_width_xs_#{$value}_percent {
      max-width: #{$value * 1%};
    }

    .min_width_xs_#{$value}_percent {
      min-width: #{$value * 1%};
    }
  }
}
