@import '../variables/variables.scss';
$width-list: 0 1 2 3 4 5 6 7 8 9 10;

@each $value in $width-list {
  .scroll_bar_width_#{$value} {
    /* width */
    &::-webkit-scrollbar {
      width: #{$value}px;
      height: #{$value}px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $grey;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(59, 65, 68, 0.2);
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(59, 65, 68, 0.5);
    }
  }
}

.overflow_hidden {
  overflow: hidden;
}

.overflow_auto {
  overflow: auto;
}

.overflow_scroll {
  overflow: scroll;
}

.overflow_x_hidden {
  overflow-x: hidden;
}

.overflow_x_auto {
  overflow-x: auto;
}

.overflow_x_scroll {
  overflow-x: scroll;
}

.overflow_y_hidden {
  overflow-y: hidden;
}

.overflow_y_auto {
  overflow-y: auto;
}

.text_over_flow_1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_5 {
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_6 {
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_over_flow_9 {
  display: -webkit-box !important;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .text_over_flow_sx_clip {
    max-height: 14px;
    text-overflow: clip;
    overflow: hidden;
  }
  .text_over_flow_xs_1 {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_3 {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_4 {
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_5 {
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_6 {
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_over_flow_xs_9 {
    display: -webkit-box !important;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @each $value in $width-list {
    .scroll_bar_width_xs_#{$value} {
      /* width */
      &::-webkit-scrollbar {
        width: #{$value}px;
        height: #{$value}px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $grey;
        border-radius: 3px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(59, 65, 68, 0.2);
        border-radius: 3px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(59, 65, 68, 0.5);
      }
    }
  }
}
