$list-padding: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
  38 39 40 44 48 50 54 56 60 70 71 75 80 84 90 100 114 117 120 121 144 150 180 184 200 217 240 265 268 273 280 311 316
  372;

.padding_7_5 {
  padding: 7.5px;
}

.padding_x_7_5 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.padding_y_7_5 {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

@each $value in $list-padding {
  .padding_#{$value} {
    padding: #{$value}px;
  }

  .padding_left_#{$value} {
    padding-left: #{$value}px;
  }

  .padding_right_#{$value} {
    padding-right: #{$value}px;
  }

  .padding_top_#{$value} {
    padding-top: #{$value}px;
  }

  .padding_bottom_#{$value} {
    padding-bottom: #{$value}px;
  }

  .padding_x_#{$value} {
    padding-left: #{$value}px;
    padding-right: #{$value}px;
  }

  .padding_y_#{$value} {
    padding-top: #{$value}px;
    padding-bottom: #{$value}px;
  }
}

@media (max-width: 1024px) {
  @each $value in $list-padding {
    .padding_md_#{$value} {
      padding: #{$value}px;
    }

    .padding_left_md_#{$value} {
      padding-left: #{$value}px;
    }

    .padding_right_md_#{$value} {
      padding-right: #{$value}px;
    }

    .padding_top_md_#{$value} {
      padding-top: #{$value}px;
    }

    .padding_bottom_md_#{$value} {
      padding-bottom: #{$value}px;
    }

    .padding_x_md_#{$value} {
      padding-left: #{$value}px;
      padding-right: #{$value}px;
    }

    .padding_y_md_#{$value} {
      padding-top: #{$value}px;
      padding-bottom: #{$value}px;
    }
  }
}

@media (max-width: 768px) {
  @each $value in $list-padding {
    .padding_sm_#{$value} {
      padding: #{$value}px;
    }

    .padding_left_sm_#{$value} {
      padding-left: #{$value}px;
    }

    .padding_right_sm_#{$value} {
      padding-right: #{$value}px;
    }

    .padding_top_sm_#{$value} {
      padding-top: #{$value}px;
    }

    .padding_bottom_sm_#{$value} {
      padding-bottom: #{$value}px;
    }

    .padding_x_sm_#{$value} {
      padding-left: #{$value}px;
      padding-right: #{$value}px;
    }

    .padding_y_sm_#{$value} {
      padding-top: #{$value}px;
      padding-bottom: #{$value}px;
    }
  }
}

@media (max-width: 576px) {
  @each $value in $list-padding {
    .padding_xs_#{$value} {
      padding: #{$value}px;
    }

    .padding_left_xs_#{$value} {
      padding-left: #{$value}px;
    }

    .padding_right_xs_#{$value} {
      padding-right: #{$value}px;
    }

    .padding_top_xs_#{$value} {
      padding-top: #{$value}px;
    }

    .padding_bottom_xs_#{$value} {
      padding-bottom: #{$value}px;
    }

    .padding_x_xs_#{$value} {
      padding-left: #{$value}px;
      padding-right: #{$value}px;
    }

    .padding_y_xs_#{$value} {
      padding-top: #{$value}px;
      padding-bottom: #{$value}px;
    }
  }
}
