.text_transform_capitalize {
  text-transform: capitalize;
}

.text_transform_lowercase {
  text-transform: lowercase;
}

.text_transform_uppercase {
  text-transform: uppercase;
}

.white_space_nowrap {
  white-space: nowrap;
}

.word_break {
  word-break: break-word;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .white_space_xs_nowrap {
    white-space: nowrap;
  }
}
