$list-rotate-deg: -90 -45 -30 -25 -20 -15 -10 -5 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 180;
$list-translate: -90 -45 -30 -25 -20 -18 -15 -10 -5 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 180;
$list-translate-percent: -70 -65 -60 -55 -50 -45 -40 -35 -30 -25 -20 -15 -10 -5 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;

@each $value in $list-rotate-deg {
  .rotate_#{$value} {
    transform: rotate(#{$value}deg);
  }
}

.object_fit_cover {
  object-fit: cover;
}

.object_fit_contain {
  object-fit: contain;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@each $valueX in $list-translate {
  @each $valueY in $list-translate {
    .translate_#{$valueX}_#{$valueY} {
      transform: translateX(#{$valueX}px) translateY(#{$valueY}px);
    }
  }
}

@each $valueX in $list-translate-percent {
  @each $valueY in $list-translate-percent {
    .translate_#{$valueX}_#{$valueY}_percent {
      transform: translateX(#{$valueX * 1%}) translateY(#{$valueY * 1%});
    }
  }
}

@media (max-width: 1024px) {
  @each $valueX in $list-translate {
    @each $valueY in $list-translate {
      .translate_md_#{$valueX}_#{$valueY} {
        transform: translateX(#{$valueX}px) translateY(#{$valueY}px);
      }
    }
  }

  @each $valueX in $list-translate-percent {
    @each $valueY in $list-translate-percent {
      .translate_md_#{$valueX}_#{$valueY}_percent {
        transform: translateX(#{$valueX * 1%}) translateY(#{$valueY * 1%});
      }
    }
  }
}

@media (max-width: 768px) {
  @each $valueX in $list-translate {
    @each $valueY in $list-translate {
      .translate_sm_#{$valueX}_#{$valueY} {
        transform: translateX(#{$valueX}px) translateY(#{$valueY}px);
      }
    }
  }

  @each $valueX in $list-translate-percent {
    @each $valueY in $list-translate-percent {
      .translate_sm_#{$valueX}_#{$valueY}_percent {
        transform: translateX(#{$valueX * 1%}) translateY(#{$valueY * 1%});
      }
    }
  }
}

@media (max-width: 576px) {
  @each $valueX in $list-translate {
    @each $valueY in $list-translate {
      .translate_xs_#{$valueX}_#{$valueY} {
        transform: translateX(#{$valueX}px) translateY(#{$valueY}px);
      }
    }
  }

  @each $valueX in $list-translate-percent {
    @each $valueY in $list-translate-percent {
      .translate_xs_#{$valueX}_#{$valueY}_percent {
        transform: translateX(#{$valueX * 1%}) translateY(#{$valueY * 1%});
      }
    }
  }
}
