$width-list: 1 2 10 19 20 22 24 26 28 30 32 34 35 36 40 42 45 48 50 52 55 60 64 65 76 77 78 79 80 83 90 95 96 97 100 105
  107 108 109 110 112 115 116 119 120 124 125 128 130 131 132 139 140 144 145 150 153 154 156 161 162 163 177 178 180
  190 200 208 210 215 216 219 240 245 250 267 270 277 300 312 316 334 336 342 350 360 368 386 396 400 401 408 420 440
  445 450 456 464 475 487 516 574 575 600 650 768 816 891 1176 1168;

$width-percent-list: 10 20 25 30 33 40 49 50 60 65 70 75 80 90 95 100;

@each $value in $width-list {
  .width_#{$value} {
    width: #{$value}px;
  }
}

@each $value in $width-percent-list {
  .width_#{$value}_vw {
    width: #{$value}vw;
  }
  .width_#{$value}_percent {
    width: #{$value * 1%};
  }
}

.width_auto {
  width: auto;
}

.width_fit_content {
  width: fit-content;
}

@media (max-width: 1024px) {
  @each $value in $width-list {
    .width_md_#{$value} {
      width: #{$value}px;
    }
  }

  @each $value in $width-percent-list {
    .width_md_#{$value}_percent {
      width: #{$value * 1%};
    }
  }

  .width_md_fit_content {
    width: fit-content;
  }

  .width_md_auto {
    width: auto;
  }
}

@media (max-width: 768px) {
  @each $value in $width-list {
    .width_sm_#{$value} {
      width: #{$value}px;
    }
  }

  @each $value in $width-percent-list {
    .width_sm_#{$value}_percent {
      width: #{$value * 1%};
    }
  }

  .width_sm_fit_content {
    width: fit-content;
  }

  .width_sm_auto {
    width: auto;
  }
}

@media (max-width: 576px) {
  @each $value in $width-list {
    .width_xs_#{$value} {
      width: #{$value}px;
    }
  }

  @each $value in $width-percent-list {
    .width_xs_#{$value}_percent {
      width: #{$value * 1%};
    }
  }

  .width_xs_fit_content {
    width: fit-content;
  }

  .width_xs_auto {
    width: auto;
  }
}
