@import '../../../styles/variables/variables.scss';

.header {
  .popup_user_setting {
    &::before {
      content: ' ';
      position: absolute;
      height: 0;
      width: 0;
      top: -22px;
      left: 108px;
      border: 11px solid transparent;
      border-bottom-color: $grey;
      margin-left: -11px;
      z-index: 1;
    }
    .border_tooltip {
      position: absolute;
      height: 0;
      width: 0;
      top: -21px;
      left: 108px;
      border: 11px solid transparent;
      border-bottom-color: #fff;
      margin-left: -11px;
      z-index: 1;
    }
  }
  .popup_notification {
    transform: translateX(50%);
    &::before {
      content: ' ';
      position: absolute;
      height: 0;
      width: 0;
      top: -22px;
      left: 190px;
      border: 11px solid transparent;
      border-bottom-color: $grey;
      margin-left: -11px;
      z-index: 1;
    }
    .border_tooltip {
      position: absolute;
      height: 0;
      width: 0;
      top: -21px;
      left: 190px;
      border: 11px solid transparent;
      border-bottom-color: #fff;
      margin-left: -11px;
      z-index: 1;
    }
  }
}

.header_mobile {
  .sidebar {
    left: -100%;
    transition: left 0.4s;
    &.active {
      left: 0px;
    }
  }
  .popup_notification_mobile {
    right: -20px;
    &::before {
      content: ' ';
      position: absolute;
      height: 0;
      width: 0;
      top: -22px;
      right: 20px;
      border: 11px solid transparent;
      border-bottom-color: $grey;
      margin-left: -11px;
      z-index: 1;
    }
    .border_tooltip {
      position: absolute;
      height: 0;
      width: 0;
      top: -21px;
      right: 20px;
      border: 11px solid transparent;
      border-bottom-color: #fff;
      margin-left: -11px;
      z-index: 1;
    }
  }
}
