.banner_container {
  .btn_filter_action {
    @media screen and (max-width: 1250px) {
      width: 140px;
    }
  }
}

.banner_sell_listings {
  .banner_image {
    width: 1408px;
    margin-left: -120px;
    @media screen and (max-width: 1440px) {
      width: 1228px;
      margin-left: -30px;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.input_search_banner {
  @media screen and (max-width: 1250px) {
    width: 90px;
    margin-left: 6px;
  }
}
