@import '../../../../styles/variables/variables.scss';

.round_graph_base {
  .figure {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
    svg {
      width: 100%;
      height: 100%;
      .circle-green {
        stroke: $green;
        stroke-width: 25px;
      }
      .circle-blue {
        stroke: $blue;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        stroke-width: 26px;
      }
      .circle-orange {
        stroke: $orange;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        stroke-width: 26px;
      }
      .circle-green-overlay{
        stroke: $green;
        stroke-dasharray: 0px 546.36px;
        stroke-dashoffset: -3px;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        stroke-width: 25px;
      }
      .circle-blue,
      .circle-green,
      .circle-orange,
      .circle-green-overlay{
        r: 87px;
        cx: 50%;
        cy: 50%;
        fill: none;
      }
    }
  }
}
