.base_input_time {
  .select_time {
    right: -1px;
    top: calc(100% + 35px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &.active {
      visibility: visible;
      opacity: 1;
      top: calc(100% + 5px);
    }
    .hours {
      /* width */
      &::-webkit-scrollbar {
        width: 0px;
      }
      &_item {
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
