@import "../../../../styles/variables/variables.scss";
.input_range_double_base {
  .range-slide {
    position: relative;
    height: 4px;
    width: 100%;
    min-width: 370px;
  }

  .slide {
    position: absolute;
    top: 0;
    height: 4px;
    background: $grey;
    left: 11px;
    right: 11px;
  }

  .line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background-color: $green;
  }

  .thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    background-color: $green;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 21px;
    width: 21px;
    margin-left: -11px;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
}
