@keyframes fadeInImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  // animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 1;
  // animation-fill-mode: forwards;
  // animation-duration: 0.5s;
  transition: opacity 0.1s;
}

.load_img_lazy {
  animation: fadeInImg 0.35s ease-in;
}