.input_select_base {
  .drop_down {
    top: 75px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }
    &.active {
      visibility: visible;
      opacity: 1;
      top: 55px;
    }
    .option_item {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
