@import '../../../../../styles/variables/variables.scss';
.description_product {
  .description_input {
    &.focus {
      border-width: 2px;
      padding-left: 23px;
      padding-right: 23px;
    }
    &.warning {
      border-width: 2px;
      border-color: $red !important;
      padding-left: 23px;
      padding-right: 23px;
    }
    .label {
      padding-top: 14px;
    }
    textarea {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}
