@import './utils/background.scss';
@import './utils/border.scss';
@import './utils/box-shadow.scss';
@import './utils/color.scss';
@import './utils/column.scss';
@import './utils/cursor.scss';
@import './utils/display.scss';
@import './utils/flex.scss';
@import './utils/font-size.scss';
@import './utils/font-weight.scss';
@import './utils/height.scss';
@import './utils/letter-spacing.scss';
@import './utils/line-height.scss';
@import './utils/margin.scss';
@import './utils/max-height.scss';
@import './utils/max-width.scss';
@import './utils/opacity.scss';
@import './utils/padding.scss';
@import './utils/position.scss';
@import './utils/text-align.scss';
@import './utils/width.scss';
@import './utils//list-style.scss';
@import './utils/text-transform.scss';
@import './utils/z-index.scss';
@import './utils/transform.scss';
@import './utils/float.scss';
@import './utils/overflow.scss';
@import './utils/hover.scss';
@import './utils/font-family.scss';

// variable
@import './variables/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/fonts/SVN-Gotham_Book.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/fonts/SVN-Gotham_Regular.otf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('/fonts/SVN-Gotham_Bold.otf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: $primary-font-size;
  font-family: 'SVN-Gotham', Fallback, sans-serif;
  color: $primary-text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 696px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 936px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
}

.container_profile {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container_profile {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_profile {
    max-width: 696px;
  }
}

@media (min-width: 992px) {
  .container_profile {
    max-width: 936px;
  }
}

@media (min-width: 1200px) {
  .container_profile {
    max-width: 1574px;
  }
}

.container_account {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container_account {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_account {
    max-width: 696px;
  }
}

@media (min-width: 992px) {
  .container_account {
    max-width: 936px;
  }
}

@media (min-width: 1200px) {
  .container_account {
    max-width: 1340px;
  }
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$background: #ffffff;
$vue-content-placeholders-primary-color: #ffffff !default;
$vue-content-placeholders-secondary-color: #f1f1f1 !default;
$vue-content-placeholders-border-radius: 4px !default;

@keyframes loading_placeholder {
  0% {
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

button,
input,
textarea {
  &:focus {
    outline: none;
  }
}

button {
  letter-spacing: 0.0125em;
  cursor: pointer;
}

textarea,
input,
button {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  background-color: transparent;
  color: currentColor;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.loading_placeholder {
  position: relative;
  overflow: hidden;
  background: $vue-content-placeholders-secondary-color;
  &.loading_placeholder--title {
    background: $vue-content-placeholders-primary-color;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 1000px;
    height: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      darken($vue-content-placeholders-secondary-color, 3%) 15%,
      transparent 30%
    );
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading_placeholder;
    animation-timing-function: linear;
  }
}

.loading {
  border-radius: 4px;
  background: linear-gradient(to right, #f0f3f6 5%, #eee 20%, #f0f3f6 35%);
  border-radius: 4px;
  animation: loading 10s linear 0s infinite normal forwards;
}

@keyframes loading {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

// #nprogress .bar {
//   background: $primary-theme-color !important;
// }
#nprogress .spinner-icon {
  display: none;
}

.text-big {
  font-size: 1.4em;
}

.image {
  text-align: center;
}

.drop_down {
  top: 75px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    top: 55px;
  }
}

input:disabled,
textarea:disabled {
  -webkit-text-fill-color: $primary-text-color; /* 1. sets text fill to current `color` for safari */
  opacity: 1; /* 2. correct opacity on iOS */
  color: $primary-text-color;
}

input:disabled::placeholder,
textarea:disabled::placeholder {
  -webkit-text-fill-color: $primary-text-color; /* 1. sets text fill to current `color` for safari */
  opacity: 0.5; /* 2. correct opacity on iOS */
  color: $primary-text-color;
}

.container_blog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container_blog {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_blog {
    max-width: 696px;
  }
}

@media (min-width: 992px) {
  .container_blog {
    max-width: 936px;
  }
}

@media (min-width: 1200px) {
  .container_blog {
    max-width: 1408px;
  }
}
