.content_blog {
  .content {
    img {
      max-width: 100%;
      @media screen and (max-width: 576px) {
        height: auto !important;
      }
    }

    a {
      text-decoration: underline;
    }

    figure {
      margin: 0 auto;

      figcaption {
        margin-top: -7px;
        background-color: #f3f3f3;
        color: #515151;
        font-size: 14px;
        padding: 10px;
      }
    }

    .text-tiny {
      font-size: 0.7em;
    }

    .text-small {
      font-size: 0.85em;
    }

    .text-big {
      font-size: 1.4em;
    }

    .text-huge {
      font-size: 1.8em;
    }

    p {
      font-size: 16px;
      line-height: 28px;
    }

    @media (max-width: 1024px) and (min-width: 768px) {
      .related_articles_container > :nth-child(even) {
        padding-left: 20px;
      }
    }
  }
}
